@import url(pokemon.css);
@import url(types.css);
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to right, #1e2535, #0F172A, #23345a,#0a101d);
  color: white;
}